.button {
  border:1px solid #888888;
  cursor:pointer;
  border-radius:3px;
  padding:5px;
  color: #ffffff;
}
.big-icon>img {
  width:200px;
  height:200px;
  border-radius:50%;
}
.small-icon>img {
  width:40px;
  height:40px;
  border-radius:50%;
}
a {
  text-decoration:none;
}
a:visited {
  color:#777777;
  text-decoration:none;
}
